@model StudentAssignmentDashBoardViewModel

@{
    Layout = null;
}

@*@foreach (var item in Model.combinedAssignments)
{
    @item.StudentAssignment.TeacherComments
}*@
<p>There are no assignments uploaded.</p>