@{

    ViewBag.Title = "UniverseCity";
}

<div class="container" style="height:100vh;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">

            <div class="card wow fadeInRight hoverable animated pulse infinite" data-wow-delay="0.3s" style="top: 75%;">
                <div class="card-body">
                    <div class="text-center">
                        <h1 class="white-text">
                            You are not authorized to view this content Earthling.
                        </h1>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-2"></div>
    </div>
</div>